# VK group token (from VK API -> App Tokens or via group settings)
VK_TOKEN=YOUR_GROUP_TOKEN

# VK group ID (numeric)
VK_GROUP_ID=123456

# Should bot ignore old updates?
IGNORE_OLD_UPDATES=true

# Bot owner's vk user id
VK_OWNER_ID=123456

# stats visualisation public dashboard link
GRAFANA_LINK=https://your_link/

# Should bot use webhooks over polling?
USE_WEBHOOKS=false

# expressjs app port, used for webhooks, healthcheck, prometheus, etc
APP_PORT=3000

# webhook endpoint (for VK Callback API)
WEBHOOK_ENDPOINT=http://osubot:3000

# osu! api v2 credentials
OSU_V2_APP_ID=12345
OSU_V2_CLIENT_SECRET=secret

# osu! link service (OAuth), disabled when empty
OSU_LINK_API_URL=
OSU_LINK_PAGE_URL=

# Should bot render .osr replays (boolean)
RENDER_REPLAYS=false

# Experimental renderer
EXPERIMENTAL_RENDERER_BASE_URL=http://experimental_render:9732

# https://ordr.issou.best, for replays render
ORDR_USERNAME=osubot-vk
ORDR_API_KEY=123456asdfg

# PostgreSQL credentials
DB_USERNAME=example_user
DB_PASSWORD=example_password
DB_DATABASE_NAME=osubot_vk
DB_PORT=5432
DB_HOST=database

# Docker Compose specific
BOT_DATA_PATH=./osubot_data
OSU_BEATMAP_CACHE=./beatmap_cache
DB_DATA_LOCATION=./osubot_postgres
